APP_NAME=Auth
APP_VERSION=1.0.0
APP_HOST=0.0.0.0
APP_PORT=7771

IS_DEV=False

SECRET_KEY=
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRATION_IN_SEC=
REFRESH_TOKEN_EXPIRATION_IN_SEC=

PG_USERNAME=admin
PG_PASSWORD=
PG_HOST=localhost
PG_PORT=5430
PG_DB_NAME=auth
PG_URL_SCHEME=postgresql+asyncpg

REDIS_TOKEN_HOST=localhost
REDIS_TOKEN_PORT=6378
REDIS_URL_SCHEME=redis
