APP_NAME=BFF
APP_VERSION=1.0.0
APP_HOST=0.0.0.0
APP_PORT=7777

IS_DEV=False

AUTH_HOST=localhost
AUTH_PORT=7771
AUTH_SCHEMA=http

REPORTER_HOST=localhost
REPORTER_PORT=7772
REPORTER_SCHEMA=http

PROCESSOR_HOST=localhost
PROCESSOR_PORT=7773
PROCESSOR_SCHEMA=http
